.element-card {
  text-align: center;
  cursor: default;
  user-select: none;

  .card-id {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
  }

  .card-name {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-avatar-name {
    inset: auto 0 0;
    line-height: 2 !important;
  }

  .card-detail {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 2;
  }

  .card-avatar {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 140px !important;
    height: 120px !important;
    object-fit: cover;
  }
}

.lucky-element-card {
  cursor: default;

  &::before {
    background-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    border: 1px solid linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  }

  .card-id {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  .card-name {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-avatar-name {
    inset: auto 0 0;
    line-height: 2 !important;
  }

  .card-detail {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    z-index: 2;
    text-align: center;
  }

  .card-avatar {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 280px !important;
    height: 240px !important;
    object-fit: cover;
  }
}
